.analytics{
    width: 100%;
    height:100px;
    background-color:rgb(250, 246, 246);
    display:flex;
    align-items: center;
    text-align: center;
}
.analytics--heading{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.analytics--title{
    font-size: 2.3rem;
    text-align: center;
    font-weight:400;
    display: block;
    color:var(--text-color);
    padding-left: 20px;
}
.analytics--body{
    width: 100%;
    margin-left: 20px;
    margin-bottom: 30px;
}
.analytics--body{
    align-items: center;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
}
.category-best--seller{
    display: flex;
}
.category-best--seller__content{
    width:30%;
    font-size: 1.4rem;
    font-weight:400;
    margin-left: 0;
    margin-right:auto;
}
.item--best--seller{
    justify-self: flex-start;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height: 100%;
    margin-left: 0;
    margin-right:auto;
    
}
.item--best--seller li{
    width:100%;
    height: 100%;
    align-items: center;
    align-content: center;
    padding:5px 5px;
}
.content-money{
    font-weight: 500px;
    color: var(--primary-color);
}
.content{
    font-weight: 500;
    color:var(--text-color);
}
