USE [master]
GO
/****** Object:  Database [Shop]    Script Date: 3/20/2025 12:50:02 AM ******/
CREATE DATABASE [Shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DANGMUI\MSSQL\DATA\Shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DANGMUI\MSSQL\DATA\Shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shop]
GO
/****** Object:  User [admin]    Script Date: 3/20/2025 12:50:02 AM ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [nvarchar](50) NOT NULL,
	[RoleId] [int] NULL,
	[Email] [varchar](50) NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Balance] [float] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK__Account__1788CCAC4F8F4466] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [varchar](50) NULL,
	[address] [nvarchar](500) NULL,
	[phone] [int] NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NULL,
	[hasBeenPurchased] [bit] NULL,
 CONSTRAINT [PK_CartItem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[Images] [text] NULL,
 CONSTRAINT [PK__Categori__19093A2B7A833C31] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[UserName] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[City] [nvarchar](250) NULL,
	[Phone] [nvarchar](12) NULL,
	[Mail] [nvarchar](50) NULL,
	[Gender] [bit] NULL,
	[dob] [date] NULL,
	[Image] [text] NULL,
 CONSTRAINT [PK__Customer__1788CCAC33A29286] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[ID] [nvarchar](50) NOT NULL,
	[DiscountValue] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Rating] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[Describe] [nvarchar](250) NULL,
	[url] [text] NULL,
	[ProductID] [int] NULL,
	[UserID] [nvarchar](50) NULL,
 CONSTRAINT [PK__Images__7516F4ECB1CD216B] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikedProducts]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikedProducts](
	[LikeID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[ProductID] [int] NOT NULL,
	[LikedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order Details]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order Details](
	[ID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__Order De__3299E55B2EE99DAE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nvarchar](50) NOT NULL,
	[Shippervia] [int] NULL,
	[OrderDate] [datetime] NULL,
	[RequiredDate] [datetime] NULL,
	[ShippedDate] [datetime] NULL,
	[Freight] [float] NULL,
	[ShipAddress] [nvarchar](250) NULL,
	[ShipCity] [nvarchar](250) NULL,
	[PostalCode] [nvarchar](24) NULL,
	[total] [float] NULL,
	[discount] [float] NULL,
 CONSTRAINT [PK__Orders__C3905BAF16E49DB6] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ShopID] [nvarchar](50) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[Brand] [nvarchar](250) NULL,
	[Origin] [nvarchar](50) NULL,
	[Images1] [text] NULL,
	[Describe] [nvarchar](max) NULL,
	[OldPrice] [float] NULL,
	[CurrentPrice] [float] NULL,
	[QuantityPerUnit] [int] NULL,
	[UnitInstock] [int] NULL,
	[UnitOnOrder] [int] NULL,
	[IsContinued] [bit] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK__Products__B40CC6ED435C24DE] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NULL,
	[name] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shippers]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippers](
	[ShipperID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NULL,
	[name] [nvarchar](50) NULL,
	[dob] [date] NULL,
	[City] [nvarchar](250) NULL,
	[Address] [nvarchar](500) NULL,
	[PostalCode] [nvarchar](24) NULL,
	[Phone] [nvarchar](12) NULL,
 CONSTRAINT [PK__Shippers__1F8AFFB991FB702B] PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping Company]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping Company](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
	[Phone] [int] NULL,
	[Avartar] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shops]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shops](
	[UserName] [nvarchar](50) NOT NULL,
	[ShopName] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[avartar] [text] NULL,
 CONSTRAINT [PK_Shops_1] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 3/20/2025 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[WalletID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Amount] [float] NOT NULL,
	[TransactionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WalletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([UserName], [RoleId], [Email], [Password], [Balance], [Status]) VALUES (N'1', 3, N'abcd@gmail.com', N'123456', 3956000, N'Active')
INSERT [dbo].[Account] ([UserName], [RoleId], [Email], [Password], [Balance], [Status]) VALUES (N'2', NULL, N'2@gmail.com', N'123456', 0, N'Active')
INSERT [dbo].[Account] ([UserName], [RoleId], [Email], [Password], [Balance], [Status]) VALUES (N'3', NULL, N'3@gmail.com', N'123456', 0, N'Active')
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([id], [customer_id], [address], [phone], [name]) VALUES (1, N'abc@gmail.com', N'Hà Nội 1', 987625255, N'Nguyễn Văn B')
INSERT [dbo].[Address] ([id], [customer_id], [address], [phone], [name]) VALUES (2, N'abc@gmail.com', N'Hồ Chí Minh', 98765433, N'Nguyễn Thị C')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([id], [productId], [userName], [quantity], [price], [hasBeenPurchased]) VALUES (1, 1, N'hieufckk@gmail.com', 0, 1, 1)
INSERT [dbo].[CartItem] ([id], [productId], [userName], [quantity], [price], [hasBeenPurchased]) VALUES (2, 3, N'hieufckk@gmail.com', 0, 3, 1)
INSERT [dbo].[CartItem] ([id], [productId], [userName], [quantity], [price], [hasBeenPurchased]) VALUES (4, 3, N'hieufckk@gmail.com', 0, 480000, 1)
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Images]) VALUES (0, N'Khác', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Images]) VALUES (1, N'Quần áo', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Images]) VALUES (2, N'Đồng Hồ', NULL)
GO
INSERT [dbo].[Customers] ([UserName], [CustomerName], [Address], [City], [Phone], [Mail], [Gender], [dob], [Image]) VALUES (N'1                                                 ', N'dung bui1', N'B16 Song hành An phú – An Khánh Q.02 TP.Yên Bái', N'Yên Bái', N'0909522702', N'Hoahongcogai@gmail.com', 1, CAST(N'1984-03-09' AS Date), NULL)
INSERT [dbo].[Customers] ([UserName], [CustomerName], [Address], [City], [Phone], [Mail], [Gender], [dob], [Image]) VALUES (N'2', N'Khánh sky', N'503 Cao ốc  An Phú P.An Phú Q.2 TPHCM
', N'HCM', N'0903734355', N'Khanhbautroi@gmail.com', 1, CAST(N'1985-09-09' AS Date), NULL)
INSERT [dbo].[Customers] ([UserName], [CustomerName], [Address], [City], [Phone], [Mail], [Gender], [dob], [Image]) VALUES (N'3', N'Ngô Bá Khá', N'84 Đường 1 khu B , An Phú  Hà Nội', N'Hà Nội', N'0907225050', N'Khabanhvippro@gmail.com', 1, CAST(N'1993-11-27' AS Date), NULL)
GO
INSERT [dbo].[Discount] ([ID], [DiscountValue]) VALUES (N'HCM', 20)
INSERT [dbo].[Discount] ([ID], [DiscountValue]) VALUES (N'HN', 30)
INSERT [dbo].[Discount] ([ID], [DiscountValue]) VALUES (N'HP', 20)
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([ID], [ProductID], [UserName], [Rating], [Description], [CreatedDate]) VALUES (1, 1, N'abc@gmail.com', 5, N'qweqwqw', CAST(N'2025-03-16T05:05:04.493' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[LikedProducts] ON 

INSERT [dbo].[LikedProducts] ([LikeID], [UserName], [ProductID], [LikedAt]) VALUES (9, N'abc@gmail.com', 21, CAST(N'2025-03-07T01:51:36.577' AS DateTime))
INSERT [dbo].[LikedProducts] ([LikeID], [UserName], [ProductID], [LikedAt]) VALUES (18, N'abc@gmail.com', 8, CAST(N'2025-03-07T02:49:40.480' AS DateTime))
INSERT [dbo].[LikedProducts] ([LikeID], [UserName], [ProductID], [LikedAt]) VALUES (23, N'abc@gmail.com', 3, CAST(N'2025-03-07T03:30:42.903' AS DateTime))
SET IDENTITY_INSERT [dbo].[LikedProducts] OFF
GO
INSERT [dbo].[Order Details] ([ID], [OrderID], [ProductID], [Quantity], [status]) VALUES (3, 1, 33, 5, 1)
INSERT [dbo].[Order Details] ([ID], [OrderID], [ProductID], [Quantity], [status]) VALUES (3, 1, 35, 10, 0)
INSERT [dbo].[Order Details] ([ID], [OrderID], [ProductID], [Quantity], [status]) VALUES (4, 1, 35, 6, 1)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [Shippervia], [OrderDate], [RequiredDate], [ShippedDate], [Freight], [ShipAddress], [ShipCity], [PostalCode], [total], [discount]) VALUES (1, N'1', 1, CAST(N'2001-01-01T00:00:00.000' AS DateTime), CAST(N'2002-02-02T00:00:00.000' AS DateTime), CAST(N'2002-03-01T00:00:00.000' AS DateTime), 15000, N'Hải Phòng', N'Hải Phòng', N'16', 2000000, NULL)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [Shippervia], [OrderDate], [RequiredDate], [ShippedDate], [Freight], [ShipAddress], [ShipCity], [PostalCode], [total], [discount]) VALUES (16, N'2', 1, CAST(N'2002-08-06T00:00:00.000' AS DateTime), CAST(N'2002-08-20T00:00:00.000' AS DateTime), CAST(N'2002-08-16T00:00:00.000' AS DateTime), 20000, N'Hà Nội', N'Hà Nội', N'30', 3000000, NULL)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [Shippervia], [OrderDate], [RequiredDate], [ShippedDate], [Freight], [ShipAddress], [ShipCity], [PostalCode], [total], [discount]) VALUES (21, N'3', 2, CAST(N'2003-07-05T00:00:00.000' AS DateTime), CAST(N'2003-07-10T00:00:00.000' AS DateTime), CAST(N'2003-07-09T00:00:00.000' AS DateTime), 30000, N'HCM', N'HCM', N'51', 3500000, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ShopID], [CategoryID], [ProductName], [Brand], [Origin], [Images1], [Describe], [OldPrice], [CurrentPrice], [QuantityPerUnit], [UnitInstock], [UnitOnOrder], [IsContinued], [Status], [CreatedDate], [UpdatedDate]) VALUES (1, N'1                                                 ', 1, N'suzuki3', N'suzuki', N'vietnam1', N'https://cf.shopee.vn/file/e66dca09e5b0e7ea38822f55ac70e234', N'aloo1', 130000, 110000, 1, 201, 101, 1, N'approved', CAST(N'2025-02-28T00:00:00.000' AS DateTime), CAST(N'2025-02-28T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[Role] ([RoleId], [name]) VALUES (1, N'ADMIN')
INSERT [dbo].[Role] ([RoleId], [name]) VALUES (2, N'CUSTOMER')
INSERT [dbo].[Role] ([RoleId], [name]) VALUES (3, N'SELLER')
GO
SET IDENTITY_INSERT [dbo].[Shippers] ON 

INSERT [dbo].[Shippers] ([ShipperID], [CompanyID], [name], [dob], [City], [Address], [PostalCode], [Phone]) VALUES (1, 1, N'Đoàn Huy Thái', CAST(N'1999-08-09' AS Date), N'Hải Phòng', N'Số 7, thị trấn An Dương, huyện An Dương, thành phố Hải Phòng', N'16', N'0912457248')
INSERT [dbo].[Shippers] ([ShipperID], [CompanyID], [name], [dob], [City], [Address], [PostalCode], [Phone]) VALUES (2, 1, N'	
Phạm Đăng Khoa', CAST(N'1999-12-09' AS Date), N'Hà Nội', N'Khu 5 Hạ Lũng, phường Đằng Hải, quận Hải An, thành phố Hà Nội', N'30', N'0368752982')
INSERT [dbo].[Shippers] ([ShipperID], [CompanyID], [name], [dob], [City], [Address], [PostalCode], [Phone]) VALUES (3, 2, N'Lê Quang Hòa', CAST(N'1990-08-12' AS Date), N'Hồ Chí Minh', N'Đường 353 Nguyễn Hữu Cầu, phường Ngọc Xuyên,Q2 tp.HCM', N'51', N'0725681428')
SET IDENTITY_INSERT [dbo].[Shippers] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipping Company] ON 

INSERT [dbo].[Shipping Company] ([CompanyID], [CompanyName], [Phone], [Avartar]) VALUES (1, N'Giao Hàng tiết kiệm', 18001061, N'https://vinawebsite.vn/wp-content/uploads/2019/12/Giaohangtietkiem.jpg')
INSERT [dbo].[Shipping Company] ([CompanyID], [CompanyName], [Phone], [Avartar]) VALUES (2, N'ViettelPost', 19008095, N'https://viettelpost.com.vn/wp-content/uploads/2020/09/viettel-post-tong-cong-ty-co-phan-buu-chinh-viettel.png')
SET IDENTITY_INSERT [dbo].[Shipping Company] OFF
GO
INSERT [dbo].[Shops] ([UserName], [ShopName], [City], [Address], [Phone], [avartar]) VALUES (N'1', N'Shop quần áo 1', N'Hải Phòng', N'Hải Phòng', N'123', NULL)
INSERT [dbo].[Shops] ([UserName], [ShopName], [City], [Address], [Phone], [avartar]) VALUES (N'2', N'Shop Bàn Phím', N'Hà Nội', N'Hà Nội', N'1234', NULL)
INSERT [dbo].[Shops] ([UserName], [ShopName], [City], [Address], [Phone], [avartar]) VALUES (N'dung                                              ', N'Shop Nam', N'Hải Phòng', N'Hải Phòng', N'12345', NULL)
GO
SET IDENTITY_INSERT [dbo].[Wallet] ON 

INSERT [dbo].[Wallet] ([WalletID], [UserName], [OrderID], [Description], [Amount], [TransactionDate]) VALUES (1, N'1                                                 ', 53, N'Nh?n ti?n t? don hàng', 576000, CAST(N'2025-03-10T01:47:48.537' AS DateTime))
INSERT [dbo].[Wallet] ([WalletID], [UserName], [OrderID], [Description], [Amount], [TransactionDate]) VALUES (2, N'admin@gmail.com', 53, N'Hoa h?ng t? don hàng', 144000, CAST(N'2025-03-10T01:47:48.540' AS DateTime))
INSERT [dbo].[Wallet] ([WalletID], [UserName], [OrderID], [Description], [Amount], [TransactionDate]) VALUES (3, N'1                                                 ', 54, N'Nhận tiền từ đơn hàng', 384000, CAST(N'2025-03-10T01:52:18.453' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wallet] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Feedback__D893EEA9473CAB7C]    Script Date: 3/20/2025 12:50:03 AM ******/
ALTER TABLE [dbo].[Feedback] ADD UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LikedProducts] ADD  DEFAULT (getdate()) FOR [LikedAt]
GO
ALTER TABLE [dbo].[Order Details] ADD  CONSTRAINT [df_satus]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Wallet] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK__Customers__UserI__38996AB5] FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK__Customers__UserI__38996AB5]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([UserName])
REFERENCES [dbo].[Customers] ([UserName])
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK__Images__ProductI__4E88ABD4] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK__Images__ProductI__4E88ABD4]
GO
ALTER TABLE [dbo].[LikedProducts]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LikedProducts]  WITH CHECK ADD FOREIGN KEY([UserName])
REFERENCES [dbo].[Customers] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order Details]  WITH CHECK ADD  CONSTRAINT [FK__Order Det__Order__70DDC3D8] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Order Details] CHECK CONSTRAINT [FK__Order Det__Order__70DDC3D8]
GO
ALTER TABLE [dbo].[Order Details]  WITH CHECK ADD  CONSTRAINT [FK__Order Det__Produ__71D1E811] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Order Details] CHECK CONSTRAINT [FK__Order Det__Produ__71D1E811]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Customer__6D0D32F4] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([UserName])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__Customer__6D0D32F4]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Shipperv__6E01572D] FOREIGN KEY([Shippervia])
REFERENCES [dbo].[Shipping Company] ([CompanyID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__Shipperv__6E01572D]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__Catego__4BAC3F29] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__Catego__4BAC3F29]
GO
ALTER TABLE [dbo].[Shippers]  WITH CHECK ADD  CONSTRAINT [FK__Shippers__Compan__6A30C649] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Shipping Company] ([CompanyID])
GO
ALTER TABLE [dbo].[Shippers] CHECK CONSTRAINT [FK__Shippers__Compan__6A30C649]
GO
ALTER TABLE [dbo].[Shops]  WITH CHECK ADD  CONSTRAINT [FK__Shops__UserID__45F365D3] FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Shops] CHECK CONSTRAINT [FK__Shops__UserID__45F365D3]
GO
ALTER TABLE [dbo].[Wallet]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Wallet]  WITH CHECK ADD FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
